<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form role="form" action="{% url 'create_example' %}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3>Create Example</h3>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="panel panel-default">
                            <div class="panel-body">
                                    {{ form.as_p }}
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                        <div class="col-lg-12 text-right">
                                <input type="submit" class="btn btn-primary" name="submit" value="Save">
                                <button type="button" class="btn btn-default" onclick="return close_modal()">
                                        Cancel
                                </button>
                        </div>
                </div>
            </form>
        </div>
</div>